ion-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

::ng-deep table th,
::ng-deep table td {

  padding: 15px;
  border: 1px solid #ddd;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
  cursor: pointer;

}

::-webkit-scrollbar {
  display: none;
}

ion-content {
  --padding-top: 0;
  --padding-bottom: 0;
  position: relative;

  .outer-container {
    // position: relative;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // top: 0;
    // left: 0;
    // height: 100%;
    // width: 100%;
    // padding: 2px;
    // margin: 0px;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 2px;


    .table-container {
      // position: absolute;
      // overflow-y: auto;
      // overflow-x: auto;
      // width: 90%;
      // max-width: 100%;
      // min-width: 25%;
      // max-height: 70%;
      // border-radius: 20px;
      // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      overflow-y: auto;
      overflow-x: auto;
      width: 90%;
      max-width: 100%;
      min-width: 25%;
      max-height: 70%;
      border-radius: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
}

@media screen and (max-width: 1100px) {
  ion-content {
    .outer-container {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100vw;
      width: 100vh;
      transform: translate(-50%, -50%) rotate(-90deg);
    }
    .table-container {
      position: absolute;
      height: 70%;
      width: 70%;
      width: 90vh !important;
      max-width: 90vh !important;
      max-height: 30vh !important;
    }
  }
}

.button_menu {
  position: absolute;
  color: white;
}

@media (min-width: 1101px) {
  .button_menu {
    left: 50%;
    bottom: 0;
    margin: 0;
    padding: 0;
    transform: translateX(-50%);
  }
}

@media (max-width: 1100px) {
  .button_menu {
    top: 50%;
    right: -2%;
    left: auto;
    transform: translateY(-50%) rotate(-90deg);
    transform-origin: center;
  }
}

::ng-deep table {
  font-size: 14px;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  height: 100%;
}

::ng-deep table th {
  position: sticky;
  top: 0;
  background: #66776d;
  color: white;
}

ion-content {
  --ion-safe-area-bottom: 10px;
}

::ng-deep table tr:nth-child(even) {
  background-color: #f2f2f2;
}

::ng-deep table tr:nth-child(odd) {
  background-color: #ddd;
  ;
}

//::ng-deep wird verwendet, damit dynamisch hinzugefügtem Inhalt diese Stile ebenfalls
//hinzugefügt werden
::ng-deep td[changeEmp="true"] {
  background-color: var(--ion-color-success);
}

::ng-deep td {
  &[exchange="true"] {
    background-color: var(--ion-color-success);
  }

  &[sameEmp="true"] {
    background-color: #686868;
  }

  &[clickC="1"] {
    background-color: #686868;
  }
}
