<ion-content>
  <ion-button (click)="einteilung()" class="ion-margin-top ion-padding" expand="block">
    Einteilung
  </ion-button>

  <ion-card>
    <ion-card-content class="test">
      <ion-item class="item">
        <ion-label>Runden:</ion-label>
        <div class="counter-container">
          <ion-button fill="clear" (click)="decreaseValue()">&#x25BC;</ion-button>
          <ion-input class="number-input" type="number" [value]="value" readonly></ion-input>
          <ion-button fill="clear" (click)="increaseValue()">&#x25B2;</ion-button>
        </div>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
